.main_container {
  background-color: blue;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.bird {
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: var(--height);
  left: var(--positionY);
}

.tube_top{
  width: 300px;
  height: 450px;
  background-color: green;
  position: absolute;
  top: 0px;
}

.tube_bottom{
  width: 300px;
  height: 550px;
  background-color: green;
  position: absolute;
  bottom: 0px;
}
